
.item-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    gap: 3rem;
}

.item-right {
    max-width: 38rem;
}

.product-cantidades button {
    background-color: transparent;
    width: 2rem;
    border: .2px solid black;
    margin: 1px;
    border-radius: .2rem;
    cursor: pointer;
}

.product-agregar-carrito {
    border: none;
    background-color: rgb(244, 233, 33);
    font-size: 1.4rem;
    padding: .6rem;
    margin: 1rem;
    margin-left: 0;
    border-radius: .3rem;
    font-weight: bold;
    cursor: pointer;
    border: 1.2px solid rgb(244, 233, 33);
}

.product-agregar-carrito:hover {
    background-color: white;
    transition: all 0.3s;
    box-shadow: 0 0 0 .2rem yellow;
    scale: 1.02;
}

.product-container-img {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-img {
    width: 100%;
}

.product-nombre {
    font-size: 3rem;
    text-transform: uppercase;
}

.product-precio {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.product-descripcion {
    font-size: 1.3rem;
    margin-top: 1rem;
}

.product-stock {
    font-size: 1.3rem;
    margin-left: 2rem;
}

.product-cantidades {
    display: flex;
}

.product-contador {
    width: 4rem;
    text-align: center;
    font-size: 1.2rem;
    padding: .2rem 1rem;
    font-weight: bolder;
}

.product-cantidades button:hover {
    background-color: rgb(240, 240, 240);
}

@media screen and (max-width: 700px) {
    .item-detail {
        flex-direction: column;
    }
    .product-container-img {
        width: 20rem;
    }
    .item-left {
        margin-right: 10rem;
    }
}