.item-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
  gap: 3rem;
  background-color: white;
  color: black;
  height: 100%;
  min-width: 50%;
}

.product-container-img {
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img {
  width: 100%;
}

.product-nombre {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: left;
}

.product-precio {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.product-descripcion {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.product-stock {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.item-right>a {
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none; /* Elimina el subrayado */
  color: black;
  background-color: white;
  padding: .2rem .8rem;
  border-radius: .4rem;
  border: 3.5px solid yellow;
  transition: all .5s;q
}

.item-right>a:hover {
    background-color: white;/* Opcional: añade subrayado en hover si quieres */
    box-shadow: 0 0 5.4px 1.2px yellow;
  }

@media screen and (max-width: 700px) {
  .item-detail {
    flex-direction: column;
  }
  .product-container-img {
    width: 20rem;
  }
  .item-left {
    margin-right: 10rem;
  }
}
