.carrito {

    .carrito-icon {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        font-size: 1.9rem;

        .carrito-numero {
            position: absolute;
            font-weight: 200;
            font-size: .7rem;
            margin-bottom: .6px;
            margin-left: .2px;
        }
    }
}