.carrito {


    .carrito-icon {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        font-size: 2.2rem;

        .carrito-numero {
            position: absolute;
            font-weight: 200;
            font-size: .7rem;
            margin-bottom: 1.2px;
            margin-left: .3px;
        }
    }
}
