.boton {
    padding: 1rem;
    width: 5rem;
    height: 2rem;
    background-color: white;
    
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
    align-content: center;
    margin: auto;
    justify-content: center;
}

.amarillo {
    background-color: yellow;
}

#light {
    background-color: #f2f4f6;
    color: #0d3f67;
}
#dark {
    background-color: #282c34;
    color: white;
}