.item-list {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    text-align: center;
    width: 66%; /* Ancho fijo, por ejemplo 80% del contenedor */
    margin: 0 auto; /* Centra horizontalmente */
    grid-gap: 20px;
    padding: 2rem;
    min-height: 91vh;

}

@media screen and (max-width: 1300px) {
    .item-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item-list {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    .item-list {
        grid-template-columns: 1fr 1fr; 
    }
    .item-list {
        width: 0%;
    }
}

@media screen and (max-width: 550px) {
    .item-list {
        grid-template-columns: 1fr;
    }
}

#light {
    background-color: #f2f4f6;
    color: #0d3f67;
}
#dark {
    
    background-color: #282c34;
    color: white;
}